html {
    width: 100%;
    height: 100%;
    font-family: Arial;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    color: white;
}

#main {
    width: 100%;
    height: 100%;
}

#banner {
    width: 100%;
    height: 4%;
    text-align: center;
    background-color: gray;
}

#left {
    width: 20%;
    height: 94%;
    float: left;
    background-color: gray;
    color: white;
}

#right {
    width: 80%;
    height: 94%;
    float: left;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: gray;
}

#title {
    font-size: 30px;
    color: white;
}

#footertext {
    text-align: center;
    color: white;
    margin: 0;
}

#right_title {
    font-size: 30px;
}

#square_div {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0;
    background-image: url("./grafika/kwadrat.png");
    top: -80px;
    left: 80px;
    display: none;
}

#circle_div {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0;
    background-image: url("./grafika/kolo.png");
    top: -80px;
    left: 80px;
    display: none;
}

#hover_texts {
    width: 70px;
    height: 60px;
}